html, body{
  /*height: 100%;*/
  font-family: 'Linden Hill', serif;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color:white;
  background-color: #475a72;
}

.quote-container{
  margin-top: 150px;
  position: relative;
}

.quote-text{
  font-size: 3em;
}

.quote-from {
  font-size: 1.5em;
  font-style: italic;
  text-align: right;
}
/*#wrap {min-height: 100%;
}
#main {
  overflow:auto;
  padding-bottom: 30px; /* must be same height as the footer 
} */
#quote-button{
  background-color: #2f3d4f;
  border: none;
}

#footer {
height: 30px;
clear:both;
background: #475a72;
text-align: center;
color: white;
width: 100%;
position: fixed;
  bottom: 0;
  left: 0;
}

#footer a{
  color: white;
}